  
  @import 'src/assets/variables.scss';
  
    nav {
      background: $base-color;
      position: sticky;
      top: 0;
      z-index: 100000;
      color: #fff;
      padding: 15px 20px;
      padding-right: 50px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  
    h1 {
      text-transform: uppercase;
    }
  
    ul {
      display: flex;
      justify-content: space-around;
      width: 200px;
    }
  
    li {
      list-style: none;
    }
  
    a {
      text-decoration: none;
      color: #fff;
    }