@import 'src/assets/variables.scss';

dialog {
    background: white;
    max-height: 50vh;
    min-height: 50vh;
    width: 95%;
    margin: 146px auto;
    overflow-y: hidden;
    padding-top: 2rem;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease both;
    
    .x {
        filter: grayscale(1);
        border: none;
        background: none;
        position: absolute;
        top: 15px;
        right: 10px;
        transition: ease filter, transform 0.3s;
        cursor: pointer;
        transform-origin: center;
        &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }
    h2 {
        font-weight: 600;
        font-size: 2rem;
        padding-bottom: 1rem;
        margin-left: 20px;
    }
    p {
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 0.5rem 0;
        a {
            &:visited {
                color: rgb(var(--vs-primary));
            }
        }
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #000;
    z-index: -100;
}

.cart-detail-container {
    overflow-y: auto;
    max-height: 35vh;
}

.no-items-cart {
    text-align: center;
}

.cart-item {
    display: grid;
    grid-template-columns: 50px 70px 1fr 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 2px;

    p {
        text-align: center;
    }

    &__image {
        width: 50px;
        height: 50px;
        justify-self: center;
    }

    &__remove {
        width: 20px;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
    }

    &__price {
        justify-self: flex-end;
    }
}

.footer-cart {
    display: flex;
    background-color: #fff;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    position: absolute;
    z-index: 300;
    bottom: 0px;
    right: 0px;
    justify-content: flex-end;
    padding: 10px 42px;
    box-shadow: 3px -7px 23px -17px rgba(0,0,0,0.75);

    &__buy {
        background: $base-color-light;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}