::ng-deep {
  @import 'src/assets/variables.scss';

  main {
    margin: 0px auto;
    margin-top: 50px;
    width: 90%;
  }

  .products-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24.4px;
    justify-items: flex-start;
    row-gap: 20px;
    border-radius: 5px;
    margin-top: 15px;
  }

  .products-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    margin: auto;
    background-color: $base-color;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 20px;

    h4 {
      color: #fff;
      text-align: right;
      padding-left: 17px;
    }
    input {
      padding: 5px 20px;
    }

    select {
      padding: 5px 15px;
    }
  }

  .loader {
    margin-top: 200px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #FF3D00;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }
}