::ng-deep {
  @import 'src/assets/variables.scss';

  main {
    margin: 0px auto;
    margin-top: 50px;
    width: 90%;
  }

  .products-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24.4px;
    justify-items: flex-start;
    row-gap: 20px;
    border-radius: 5px;
    margin-top: 15px;
  }

  .products-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    margin: auto;
    background-color: $base-color;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 5px;

    h4 {
      color: #fff;
      text-align: right;
      padding-left: 17px;
    }
    input {
      padding: 5px 20px;
    }

    select {
      padding: 5px 15px;
    }
  }
}